/* cabecalho */
.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: unset;
  grid-column: unset;
  margin-left: unset;
}
/* fim cabecalho */
main {
  padding-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#title-login {
  margin-bottom: 20px;
  font-weight: bold;
}

#title-register {
  margin-bottom: 20px;
  font-weight: bold;
}

.container {
  max-width: 900px;
  /* Altere o valor aqui conforme necessário */
  width: 150%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
  text-align: center;
}

#check:checked~.registration {
  display: block;
  text-align: center;
}

#check:checked~.login {
  display: none;
  text-align: center;

}

#check {
  display: none;
  text-align: center;

}

.container .form {
  padding: 2rem;
  text-align: center;
}

.container .form header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form .title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #039732;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #039932;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #017e29;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #039932;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}