<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_base/style.css">
    <link rel="stylesheet" href="/css_base/style_midia.css">
    <link rel="stylesheet" href="/editar_aula/style_editar_aula.css">
    <link rel="stylesheet" href="/editar_aula/style_midia_queries_editar_aula.css">
    
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>Learnify</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f2c736aaab.js" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function logout(){
        $.ajax({
            type: "GET",
            url: "/logout"
        })
        .done(function (response) {
            window.location.href = "/login";
        });
        }
    </script>
</head>

<body>
    <header>
        <div id="div-tutorial">
                <i class="fa-solid fa-circle-xmark fa-xl" id="close-tutorial" style="color: #000000;"></i>
                <img id="imagem-tutorial" src="/images/tutorial-link.png" alt="tutorial-get-link">
        </div>
        <div id="cabecalho">
                <nav class="barra-home">
                    <input type="checkbox" id="menuToggle">
                    <label for="menuToggle" class="menu-icon">
                        <i class="fa fa-bars fa-2xl barras-menu"></i>
                        <i class="fa fa-times-circle fa-xl"></i>
                    </label>
                    <ul class="menu">
                        <li id="accountLi"><a id="accountLink" href='/montar-curso'><i class="fa-solid fa-hammer" ></i> Monte seu Curso</a></li>
                        <li id="editLi"><a href="/usuario?id_usuario=$usuario.getId_usuario()"><button id="editButton"><i class="fas fa-user"></i>Minha Conta</button></li>
                        <li id="logoutLi"><button id="logoutButton" onclick="logout()">Logout</button></li>
                    </ul>
                </nav>

                <nav class="div-logo">
                    <a href="/home"><img class="logo" src="/images/logo.png" alt="logo"></a>
                </nav>
            </div>
    </header>


    <main>
        <a href="/curso?id_curso=$idCurso" class="arrow-button">
          <i class="fas fa-arrow-left"></i>
        </a>
        #if($dono)
        <div id="div-inserir-img-link">
            <div class="inserir-aula">
                <h3>Editar Aula</h3>
                <input id="inserir-titulo" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Insira o titulo do video">
                <div class="div-inserir-img">
                    <label for="formFile" class="form-label">Selecione uma imagem para a thumbnail do video</label>
                    <input id="input-file-thumb" class="form-control form-control-lg" type="file">
                </div>
                <div class="form-floating mb-3 small div-inserir-link">
                    <input id="input-link-video" class="form-control input-link" id="floatingInput" placeholder="">
                    <label for="floatingInput">Insira o link do video</label>
                    <a href="#" class="botao-como-pegar-link">Como pegar o link do video?</a>
                </div>
            </div>
        </div>
        <div id="div-botao-finalizar">
            <button onclick="atualizarAula()" id="finalizar-curso" type="button" class="btn btn-primary">Atualizar Aula</button>
        </div>
        #end
    </main>


    <footer>
        <nav class="redes-sociais-rodape itens-rodape">
            <h4>Redes Sociais</h4>
            <nav>
                <a class="texto-itens-rodape" href="#">
                    <i class="fa-brands fa-square-facebook fa-2xl"></i>
                    <i class="fa-brands fa-square-twitter fa-2xl"></i>
                    <i class="fa-brands fa-square-instagram fa-2xl"></i>
                </a>
            </nav>
        </nav>

        <nav class="links-rodape itens-rodape">
            <h4 class="titulo-links">Institucional</h4>
            <nav class="conteudo-itens-rodape">
                <div class="texto-itens-rodape links-politicas">
                    <a class="ancoras" href="#">
                        <p>Central de <br> Ajuda</p>
                    </a>
                    <a class="ancoras" href="#">
                        <p>Termos</p>
                    </a>
                    <a class="ancoras" href="#">
                        <p>Política de <br> Privacidade</p>
                    </a>
                </div>
            </nav>
        </nav>

        <div class="copyright-rodape">
            <p>© 2007-2023 learnify.com</p>
        </div>
    </footer>

    <script>
    $(document).ready(function () {
        $('#div-tutorial').hide();

        $(document).on('click', '.botao-como-pegar-link', function () {
            $('#div-tutorial').show();
        });

        $(document).on('click', '.botao-como-pegar-link', function () {
            $('#div-tutorial').animate({ width: "100%", height: "100%" });
        });

        $(document).on('click', '#close-tutorial', function () {
            $('#div-tutorial').animate({ width: "100%", height: "0" });
        });
    });
    </script>

    <script>
        document.getElementById("editButton").addEventListener("click", function () {
            window.location.href = "/usuario?id_usuario=$usuario.getId_usuario()";
        });

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("inserir-titulo").value = "$aula.getTitulo()";
            document.getElementById("input-link-video").value = "$aula.getLink()";
        });

        async function atualizarAula() {
            var thumbnail = $("#input-file-thumb")[0].files[0];
            var titulo = $("#inserir-titulo").val();
            var link = $("#input-link-video").val();

            // Função para ler a thumbnail como Base64
            function lerImagemComoBase64(file) {
                return new Promise((resolve, reject) => {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        resolve(event.target.result);
                    };
                    reader.onerror = function(event) {
                        reject(event.target.error);
                    };
                    reader.readAsDataURL(file);
                });
            }

            try {
                var thumbBase64 = await lerImagemComoBase64(thumbnail);

                // Envie os dados para o servidor via AJAX
                $.ajax({
                    type: "POST",
                    url: "/atualizar_aula",
                    data: { thumbnail: thumbBase64, titulo: titulo, link: link, idCurso: $idCurso, idAula: $aula.getIdAula() },
                })
                .done(function (response) {
                    window.alert("Aula atualizada com sucesso!");
                    window.location.href = "/editar_curso?id_curso=" + $idCurso;
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    window.alert("Erro ao atualizar aula: " + errorThrown);
                });
            } catch (error) {
                window.alert("Erro na leitura de imagem: " + error);
            }
        }
    </script>

</body>

</html>