<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css_base/style.css">
  <link rel="stylesheet" href="/css_base/style_midia.css">
  <link rel="stylesheet" href="/home/style_homepage.css">
  <link rel="stylesheet" href="/home/style_midia_queries_homepage.css">
  
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <title>Learnify</title>

  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f2c736aaab.js" crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function logout(){
      $.ajax({
          type: "GET",
          url: "/logout"
      })
      .done(function (response) {
          window.location.href = "/login";
      });
    }
  </script>
</head>

<body>
    <header>
      <div id="cabecalho">
            <nav class="barra-home">
                <input type="checkbox" id="menuToggle">
                <label for="menuToggle" class="menu-icon">
                    <i class="fa fa-bars fa-2xl barras-menu"></i>
                    <i class="fa fa-times-circle fa-xl"></i>
                </label>
                <ul class="menu">
                    <li id="accountLi"><a id="accountLink" href='/montar-curso'><i class="fa-solid fa-hammer" ></i> Monte seu Curso</a></li>
                    <li id="editLi"><button id="editButton"><i class="fas fa-user"></i>Minha Conta</button></li>
                    <li id="logoutLi"><button id="logoutButton" onclick="logout()">Logout</button></li>
                </ul>
            </nav>

            <nav class="div-logo">
                <a href="/home"><img class="logo" src="/images/logo.png" alt="logo"></a>
            </nav>
        </div>
    </header>

    <main>
      <div class="container">
        <div id="cursoContainer">
          #foreach($curso in $cursos)
            <div class="col-md-6 curso" data-title="$curso.getNome()" data-category="$curso.getCategoria()">
              <a href="/curso?id_curso=$curso.getId_curso()" class="ancora-cursos">
              <img src="data:image/jpeg;base64,$curso.convertImagemBase64()" alt="curso">
              <h3>$curso.getNome()</h3></a>
              <p class="categoria-curso">Categoria: $curso.getCategoria()</p>
            </div>
          #end
        </div>
      </div>
    </main>

    <footer>
      <nav class="redes-sociais-rodape itens-rodape">
          <h4>Redes Sociais</h4>
          <nav>
              <a class="texto-itens-rodape" href="#">
                  <i class="fa-brands fa-square-facebook fa-2xl"></i>
                  <i class="fa-brands fa-square-twitter fa-2xl"></i>
                  <i class="fa-brands fa-square-instagram fa-2xl"></i>
              </a>
          </nav>
      </nav>

      <nav class="links-rodape itens-rodape">
          <h4 class="titulo-links">Institucional</h4>
          <nav class="conteudo-itens-rodape">
              <div class="texto-itens-rodape links-politicas">
                  <a class="ancoras" href="#">
                      <p>Central de <br> Ajuda</p>
                  </a>
                  <a class="ancoras" href="#">
                      <p>Termos</p>
                  </a>
                  <a class="ancoras" href="#">
                      <p>Política de <br> Privacidade</p>
                  </a>
              </div>
          </nav>
      </nav>

      <div class="copyright-rodape">
          <p>© 2007-2023 learnify.com</p>
      </div>
  </footer>
  
  <script>
      document.getElementById("editButton").addEventListener("click", function () {
          window.location.href = "/usuario?id_usuario=$usuario.getId_usuario()";
      });
  </script>
</body>


</html>